<!doctype html>
<html layout:decorate="estructura">
	<head>
		<title th:text="${nombre}"></title>
		<meta charset="UTF-8"></meta>
	</head>

	<body>
		<div class="container">
			<div class="form-row text-center" layout:fragment="contenido">
				<div class="col-12">
					<div class="tarjeta-usuario">
						<label>Nombre: </label><label th:text="${nombre}"></label><br>
						<label>Email: </label><label th:text="${email}"></label><br>
						<label>Contraseña: </label><label th:text="${password}"></label><br>
						<label>Artista: </label><label th:text="${artista}"></label><br>
						<label>Localidad: </label><label th:text="${localidad}"></label><br>
						<label>Influencias: </label><label th:text="${influencias}"></label><br>
						<label>Genero: </label><label th:text="${genero}"></label><br>
						<label>Integrantes: </label><label th:text="${integrantes}"></label><br>
						<label>Descripcion: </label><label th:text="${descripcion}"></label><br>
						<label>Imagen: </label><img th:src="${imagen}"></img><br>
					</div>
				</div>
			</div>
		</div>
	</body>

</html>