<!doctype html>
<html>
	<head>
		<title>Diana</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"crossorigin="anonymous"></link>
		<link rel="stylesheet" type="text/css" href="/css/generalStyle.css"></link>
		<meta charset="UTF-8"></meta>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"crossorigin="anonymous"></script>
	</head>
	
	<body>
		<!--  Banner -->
		<div class="fluid-container">
			<div class="col-12 banner">
				<a href="/home" ><img id="dianaLogo" src="/images/DianaLogo.jpg"></img></a>
			</div>
		</div>
	
		<!-- NavBar -->
		<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
			<a class="navbar-brand" href="/">Inicio</a>
			<!-- Links -->
			<ul class="navbar-nav mr-auto">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown" th:classappend="${artistasActive}">Artistas</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="/artistas/todes">Todes</a>
						<a class="dropdown-item" href="/artistas/musicales">Musicales</a>
						<a class="dropdown-item" href="/artistas/teatrales">Teatrales</a>
						<a class="dropdown-item" href="/artistas/literarios">Literarios</a>
						<a class="dropdown-item" href="/artistas/graficos">Graficos</a>
						<a class="dropdown-item" href="/artistas/multidisciplinarios">Multidisciplinarios</a>
					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/centros-culturales" th:classappend="${culturalesActive}">Centros culturales</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/nosotres" th:classappend="${nosotresActive}">Nosotres</a>
				</li>
			</ul>
			<ul class="navbar-nav">
				<li class="nav-item" th:if="${not isLoggedIn}"><a class="nav-link" href="/login" th:classappend="${loginActive}">Login</a></li>
				<li class="nav-item" th:if="${isLoggedIn}"><a class="nav-link" href="/logout" th:classappend="${loginActive}">Logout</a></li>
				<li class="nav-item" th:if="${not isLoggedIn}"><a class="nav-link" href="/registro" th:classappend="${registroActive}">Registrarse</a></li>
				<li class="nav-item" th:if="${isLoggedIn}"><a class="nav-link" th:text="${nombreUsuario}" th:href="'/detalle/'+ ${idUsuario}" th:classappend="${registroActive}">Perfil</a></li>
			</ul>
		</nav>
		
		<!-- Page Content -->
		
		<div class="fluid-container backgound">
				<div class="col-12 background">
					<div layout:fragment="contenido">
					</div>
				</div>
		</div>
		
		<!-- Footer -->
		<footer class="py-5 bg-dark">
			<div class="container">
				<p class="m-0 text-center text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			</div>
		</footer>
		
		
	</body>
</html>