<!doctype html>
<html layout:decorate="estructura">
	<head>
		<title>Artistas</title>
		<meta charset="UTF-8"></meta>
	</head>

	<body>
		<div class="container">
			<div class="form-row text-center" layout:fragment="contenido">
				<form action="/procesarBusqueda">
					<input type="text" name="palabraBuscada"></input>
					<input type="submit" value="Buscar"></input>
				</form>
			
				<div class="tarjeta-usuario" th:each="usuario:${listadoUsuarios}">
					<a th:href="'/detalle/' + ${usuario.id}"><label th:href="'/detalle/' + ${usuario.id}"  th:text="${usuario.nombre}"></label></a><br>
					<a th:href="'/detalle/' + ${usuario.id}"><img th:src="${usuario.imagen}"></img></a><br>
				</div>
			</div>		
		</div>
	</body>

</html>