<html layout:decorator="estructura">
	<head>
		<title>Proyecto Diana</title>
		<meta charset="UTF-8"></meta>
	</head>

		<body>
			<div class="container fondoSecciones" layout:fragment="contenido">
				<div class="row">
					<h3>QUE ES D.I.A.N.A?</h3><br>
					<label>Somos un ciclo artistico multidisiplinario totalmente
						autogestivo e independiente creado con el fin de compartir a través
						del arte el mensaje de los jóvenes con ideales, pasiones y
						sensaciones en pleno florecer! Somos el espacio donde la libertad y
						lo sublime se mezclan para llegar hasta tu ser y abrir las puertas
						de tu mente para llevarla al siguiente nivel </label>
				</div>
			</div>
		</body>



</html>