<!doctype html>
<html layout:decorate="estructura">
	<head>
		<title>Registro Diana</title>
		<meta charset="UTF-8"></meta>
	</head>

	<body>
		<div class="container" layout:fragment="contenido">
			<div class="form-row text-center">
		   		<div class="fondoSecciones col-12">
					<h1>Registro<br><small class="text-muted"> Elije el tipo de cuenta a crear</small></h1><br></br>
					<a role="button" class="btn btn-primary" href="/registro-artista">Artista</a>
					<a role="button" class="btn btn-secondary" href="/registro-usuario">Usuario</a>
		 		</div>
		 	</div>
	 	</div>
	</body>
</html>