<!doctype html>
<html layout:decorate="estructura">
	<head>
		<title>Registro Usuario</title>
		<meta charset="UTF-8"></meta>
	</head>

	<body>
		<div class="container" layout:fragment="contenido">
			<div class="form-row text-center">
		   		<div class="fondoSecciones col-12">
		   			 	<h1 class="text-center">Crear cuenta de Usuario<br>
		   			 	<small class="text-muted">Por favor completa todos los campos</small></h1><br></br>
		   			 	<form action="/bienvenido-usuario" method="post">
		   			 	<a>Nombre</a><br>
		   			 	<input type="text" name="nombre" placeholder="Insertar nombre..."></input><br><br>
		   			 	<a>Email</a><br>
						<input type="email" name="email1" placeholder="Email@ejemplo.com..."></input><br></br>
						<a>Contraseña</a><br>
						<input type="password" name="password" placeholder="Insertar contraseña..."></input><br></br>
		        		<button type="button" class="btn btn-light btn-sm">Atras</button>
						<button type="submit" class="btn btn-primary">Registrar</button>
						</form>
		    		</div>
		 		</div>
	 		</div>

	</body>
	
</html>